
.landing_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  background: linear-gradient(174deg, #090909 20.08%, #071c44 95.51%);
  padding-top: 1rem;
  background-image: url("../../assets/png/landing_bgnj2_Compres.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.2s;
}
.mid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}
.landing_button {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid #ffffff;
  color: #fff;
  font-family: "Work Sans";
  font-size: 1.5rem;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 16px 24px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.57));
}

.landing_text {
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  color: #fff;
  font-family: "Coalition", sans-serif;
  font-size: 8.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 8rem;
  z-index: 2;
  background: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}
.landing_text2 {
  color: #ffffff;
  font-family: "Coalition", sans-serif;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01938rem;
}

.landing_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 70vh;
  z-index: 1;
}
.landing_subheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Work Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 550;
  transition: all 0.2s ease-in-out;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  transition: all 0.2s ease-in-out;
}
#section07 a {
  color: #fff;
  padding-top: 80px;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: bold 800 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.5em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#section07 a span {
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .landing_text {
    font-size: 6rem;
  }
  .landing_text2 {
    font-size: 2rem;
  }
  .landing_subheading {
    font-family: Work Sans;
    font-size: 1.3rem;
    font-style: normal;
  }
}

@media screen and (max-width: 800px) {
  .demo a {
    bottom: 40px;
  }
  .landing_text {
    font-size: 5.65rem;
  }
  .landing_text2 {
    font-size: 2rem;
  }
  .landing_subheading {
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
  }
}
@media screen and (max-width: 650px) {
  .landing_text {
    font-size: 5.2rem;
  }
  .landing_text2 {
    font-size: 2rem;
  }
  .landing_subheading {
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
  }
}

@media screen and (max-width: 600px) {
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }
  .landing_text {
    font-size: 4.5rem;
  }
  .landing_text2 {
    font-size: 2rem;
  }
  .landing_subheading {
    font-family: "Work Sans";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
  }
  .mid_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .landing_button {
    color: #fff;
    font-family: "Work Sans";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    padding: 10px 22px;
  }
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }

  .landing_text {
    font-size: 3rem;
  }
  .landing_subheading {
    font-family: "Work Sans";
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 480;
  }
}

@media screen and (max-width: 400px) {
  .row-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    gap: 10px;
  }
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }

  .landing_text {
    font-size: 3rem;
  }
  .landing_subheading {
    font-family: "Work Sans";
    font-style: normal;
  }
}
@media screen and (max-width: 350px) {
  .landing_text {
    font-size: 2.7rem;
  }
  .landing_subheading {
    font-size: 0.6rem;
  }
}