/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); */
@import url("https://fonts.cdnfonts.com/css/helios-retro");
@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");
@font-face {
  font-family: "Coalition";

  src: url(../../coalition/Coalition_v2..ttf) format("truetype");
}
.landing_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  background: linear-gradient(174deg, #090909 20.08%, #071c44 95.51%);
  padding-top: 1rem;
  background-image: url("../../assets/svg/image\ 131.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mid_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.landing_button{

  border-radius: 1.25rem;
border: 1px solid #7F7F7F;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(5px);
color: #FFF;
font-family: Work Sans;
font-size: 1.9375rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding: 16px 20px ;

}

.landing_text {
  text-transform: uppercase;

  color: #4b4b92;

  font-family: "Coalition", sans-serif;
  font-size: 8.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  z-index: 2;
  background: linear-gradient(103deg, #bdbdbd 40.55%, #a4a3a4 64.89%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.landing_text2 {
  color: #e0e0e0;
  font-family: Work Sans;
  font-size: 1.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01938rem;
}

.landing_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 70vh;
  z-index: 1;
}
.landing_subheading{
  font-family: Work Sans;
font-size: 1.75rem;
font-style: normal;
font-weight: 400;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  gap: 32px;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }
  .landing_text {
    font-size: 4.2rem;
  }
  .landing_text2 {
    font-size: 2rem;
  }
  .landing_subheading{
  font-family: Work Sans;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
}

}

@media screen and (max-width: 500px) {
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }

  .landing_text {
    font-size: 2.8rem;
  }
  .landing_subheading{
  font-family: Work Sans;
font-size: 0.85rem;
font-style: normal;
font-weight: 400;
}

}


@media screen and (max-width: 400px) {
  .landing_image {
    height: 60vh;
    transform: translate(-30%, 0%);
  }

  .landing_text {
    font-size: 3rem;
  }
  .landing_subheading{
  font-family: Work Sans;
font-size: 0.85rem;
font-style: normal;
font-weight: 400;
}

}
