@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&display=swap');
.speakers__main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/png/about_bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 1rem;
  padding-bottom: 7rem; 
  opacity: 0.8;
}
.spkrs__container {
  width: 80%;
  gap: 7rem;
  display: flex;
  justify-content:center ;
  flex-wrap: wrap;
  flex-direction: row; 
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  line-height: 0rem;
}
.spkr__card {
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem
}
.spkr__card > img {
    width: 15rem;
    height: 13rem;
    pointer-events: none;
    border-radius: 50%;
}
.spkr__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}
.spkr__content > img {
  height: 6rem;
}
.spkr__context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.speaker__contact >a {
  font-family: 'Montserrat';
    font-style: normal;
    color: #ffffff;
    font-size: 1rem;
}
.speaker__contact {
    background: linear-gradient(355deg, rgba(15, 15, 24, 0.36) 6.35%, rgba(188, 94, 59, 0.36) 86.17%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8.5px );
    -webkit-backdrop-filter: blur( 8.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Montserrat';
    font-style: normal;
    opacity: 1;
    color: #939393;
    padding: 0.3rem;
    width: 7rem;
    height: 2.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.speaker__contact:hover {
  color: linear-gradient(165deg, #081831 14.17%, #3A2527 40.19%, #0F1116 75.16%, #0E0F13 92.24%);
}

.linkedin__icon {
  font-size: 0.8rem;
}

.speaker_text {
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    color: #fff;
    font-family: "Coalition", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    z-index: 2;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.spkr__context >p {
  font-family: 'Montserrat';
  font-style: normal;
  color: #ffffff;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1300px) {
  .spkr__card > img {
    width: 12rem;
  }

  .speaker__heading {
    width: 22rem;
  }  

  .spkr__card {
    width: 15rem;
  }

  .spkr__context >p{
    font-size: 1.1rem;
  }

  .speaker_text {
    font-size: 4rem;
  }

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {
  .spkr__card > img {
    width: 10rem;
  }

  .speaker__heading {
    width: 20rem;
  }  

  .spkr__card {
    width: 15rem;
  }

  .spkr__context >p{
    font-size: 0.9rem;
  }

  .speaker_text {
    font-size: 3.8rem;
  }

  .spkrs__container {
    width: 90%;
  }

}

@media screen and (max-width: 880px) {
  .spkrs__container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .spkrs__container {
    gap: 3.4rem;
  }

  .spkr__card {
    width: 11rem;
  }

  .speaker__heading {
    width: 18rem;
  }  

}

@media screen and (max-width: 700px) {
  .spkrs__container {
    line-height: 1rem;
  }
  .speaker_text {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 600px) {

  .speaker__heading {
    width: 16rem;
  }  
  .speaker_text {
    font-size: 3rem;
  }

}

@media screen and (max-width: 450px) {
  .speaker_text {
    font-size: 2.5rem;
  }
}
  
@media screen and (max-width: 360px) {
  .speaker_text {
    font-size: 2.2rem;
  }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}
