@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&display=swap');
.speakers__main {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 3rem; */
  background:linear-gradient(174deg, #090909 20.08%, #071C44 95.51%);
  padding-top: 3rem;
  padding-bottom: 7rem; 
  /* justify-content: center; */
}
.spkrs__container {
  width: 100%;
  gap: 7rem;
  display: flex;
  justify-content:center ;
  /* padding: 3rem; */
  flex-wrap: wrap;
  flex-direction: row; 
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem
}
.spkr__card {
  /* width: 10rem; */
  height: 15rem;
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem
}
.spkr__card > img {
    width: 15rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #FAFAFA, #FAFAFA);
    border: 3px solid #FFF;
}
.spkr__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  padding-left: 1rem;
}
.spkr__content > img {
  height: 6rem;
}
.spkr__context {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-left: 2.1rem;
}
.spkr__context >button{
    border-radius: 8px;
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    color: #939393;
    width: 7rem;
    height: 2.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.spkr__context >p {
  font-family: 'Montserrat';
  font-style: normal;
  color: #ffffff;
  font-size: 1.25rem;
}

@media only screen and (max-width: 1300px) {
  .spkr__card > img {
    width: 12rem;
  }

  .spkr__context {
    padding-left: 0.9rem;
  }

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {
  .spkrs__container {
    gap: 6.4rem;
  }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}