.timer__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.timer__box {
  /* width: 40%; */
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 3rem;
  flex-direction: row;
}
.hr__box {
  display: flex;
  gap: 0.7rem;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.time__digit {
  font-size: 2rem;
  font-family: var(--primary-font);
  font-weight: 500;
}
.time__unit {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: -20px;
}
@media only screen and (max-width: 1300px) {
}
@media (min-device-width: 20px) and (max-device-width: 500px) {
}
@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1100px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 600px) {
  .time__digit {
    font-size: 1.8;
  }
  .time__unit {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .time__digit {
    font-size: 1.5rem;
  }
  .time__unit {
    font-size: 1rem;
  }
  .timer__box {
    gap: 2.6rem;
  }
}

@media screen and (max-width: 430px) {
  .time__digit {
    font-size: 1rem;
  }
  .time__unit {
    font-size: 0.7rem;
  }
  .timer__box {
    gap: 2.2rem;
  }
}
@media screen and (max-width: 370px) {
  .timer__box {
    gap: 2rem;
  }
}
@media screen and (max-width: 350px) {
  .timer__box {
    gap: 1.7rem;
  }
  .time__digit{
    font-size: 0.95rem;
  }
  .time__unit{
    font-size: 0.7rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
}

@media only screen and (device-width: 768px) {
}
