.workshop__container_main {
  background-image: url("../../assets/jpg/panelist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ws__content > img {
  width: 16rem;
  border-radius: 20px;
}
.ws__content>h2{
    text-align: center;
}
.ws__content > p {
  width: 65%;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.2rem;
}
.ws__content >ul>li{
    font-size: 1.2rem;
    /* width: 90%; */
    font-family: var(--primary-font);
    line-height: 40px;
}
ul {
  list-style: none; /* Remove default bullets */
}
ul li::before {
  content: "\2022";
  color: #d44c3b; 
  font-weight: bold; 
  display: inline-block; 
  width: 1rem; 
}
.ws__content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 3rem;
  width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
