.workshop__container_main {
  background-image: url("../../assets/jpg/panelist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.ihub-img {
  width: 16rem;
  border-radius: 20px;
}
.ws__content>h2{
    text-align: center;
}
.ws__content > p {
  width: 65%;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.2rem;
}
.ws__content >ul>li{
    font-size: 1.2rem;
    /* width: 90%; */
    font-family: var(--primary-font);
    line-height: 40px;
}
ul {
  list-style: none;
}
ul li::before {
  content: "\2022";
  color: #d44c3b; 
  font-weight: bold; 
  display: inline-block; 
  width: 1rem; 
}
.ws__content {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 2.5rem;
  width: 70%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media only screen and (max-width: 1300px) {

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {
  .ihub-img {
    width: 14rem;
  }
}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {
  .ws__content >ul>li {
    line-height: 34px;
  }
}

@media screen and (max-width: 700px) {
  /* .ws__content > a {
    width: 15rem;
} */
.ihub-img {
  width: 12rem;
}
}

@media screen and (max-width: 600px) {
  .ws__content >ul>li {
    line-height: 28px;
  }
}

@media screen and (max-width: 550px) {
  .ws__content >ul>li{
    font-size: 1.15rem;
  }
  .ws__content > p {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 500px) {
  .ws__content {
    width: 60%;
  }
  .ihub-img {
    width: 10rem;
}
}

@media screen and (max-width: 450px) {
  .ws__content >ul>li{
    font-size: 1.1rem;
    line-height: 27px;
  }
  .ws__content > p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 360px) {
  .ws__content >ul>li{
    font-size: 1rem;
  }
  .ws__content > p {
    font-size: 1rem;
  }
  .ws__content >ul>li {
    line-height: 25px;
}
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}