@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&family=Work+Sans&display=swap');
.about__out__container {
    background: url("../../assets/png/about_bg.jpg") no-repeat center center / cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.about-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
}



.about-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: #F0E8E8;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 1.2rem;
    letter-spacing: 0.22px;
    padding: 2.3rem;
    flex-wrap: wrap;
    background: rgba(46, 54, 73, 0.30);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.heading {
    width: 18rem;
    height: 8rem;
}


@media only screen and (max-width: 1300px) {
    .heading {
        width: 16rem;
    }
}

@media (min-device-width: 20px) and (max-device-width: 500px) {

}

@media only screen and (max-width: 1200px) {
   
}

@media only screen and (max-width: 1100px) {
    .about-body {
        /* font-size: 1.1rem; */
    }
}

@media screen and (max-width: 992px) {
    .heading {
        width: 14rem;
    }
}

@media screen and (max-width: 800px) {

    .heading {
        width: 12rem;
    }
    
}
@media screen and (max-width: 700px) {

    .about-body {
        /* font-size: 1.1rem; */
    }
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 550px){
    .about-body {
        font-size: 1.15rem;
    }
}
@media screen and (max-width: 400px) {
    .about-body {
        font-size: 1.1rem;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}


@media only screen and (device-width: 768px) {}