@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&family=Work+Sans&display=swap');
.about__out__container {
    background: url("../../assets/png/about_bg.jpg") no-repeat center center / cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.about-header {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 0;
}



.about-body {
    color: #F0E8E8;
    text-align: center;
    font-family: 'Work Sans';
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: 0.22px;
    padding: 3.7rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-overflow: clip;
    height: 55vh;
    background: rgba(46, 54, 73, 0.30);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.heading {
    width: 18rem;
    height: 8rem;
}


@media only screen and (max-width: 1300px) {}

@media (min-device-width: 20px) and (max-device-width: 500px) {}

@media only screen and (max-width: 1200px) {
   
}

@media only screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 800px) {
    .about__out__container {
        min-height: 115vh;
    }
    
    .about-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 5rem 0 2rem;
    }
    
    
    
    .about-body {
        height: 89vh;
    }
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 400px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {}


@media only screen and (device-width: 768px) {}