@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&display=swap');
.navbar {
    height: 80px;
    position: fixed;
    padding: 0 2rem;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    transition: 0.2s ease;
}

.navbar__main {
    height: 100%;
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: space-between;
}

.nav__logo>a {
    height: 100%;
}

.nav__logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo__img {
    height: 100%;
    /* width: 95px; */
    width: 55px;
}

.nav_title {
    font-family: 'Work Sans';
    font-size: 1.75rem;
    font-weight: 500;
    color: white;
}

.nav_contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    width: 80%;
}

.nav__link {
    gap: 2.5rem;
    font-family: 'Work Sans';
    font-style: normal;
    align-items: center;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
}

.nav__link:hover {
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: rgba(212, 76, 59, 1);
    text-shadow: 0px 0px 12px #74cae7;
    text-underline-offset: 5px;
}

a {
    text-decoration: none;
}

.nav_hamburger {
    display: none;
}

.nav_btn {
    outline: none;
    padding: 10px 15px;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    background: transparent;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .nav_contents {
        gap: 1rem;
    }
    .nav__link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .nav_hamburger {
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        color: white;
    }
    .nav_contents,
    .nav_btn {
        display: none;
    }
    .nav_logo img {
        height: 100%;
        width: 115px;
    }
    .nam_menu_icon {
        font-size: 1.75rem;
        color: #ffffff;
    }
    .navbar__mob {
        background: #000; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0rem 7rem;
        position: relative;
    }
    .navbar_mob_close {
        position: absolute;
        top: 3rem;
        right: 3rem;
        font-size: 2rem;
        color: white;
    }
    .navbar__mobcontents {
        flex: 0.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    .navmob__link {
        gap: 2.5rem;
        font-family: 'Work Sans';
        font-style: normal;
        align-items: center;
        color: #ffffff;
        font-size: 1.3rem;
        cursor: pointer;
        opacity: 0.6;
        text-align: center;
    }
    .navmob__link:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding: 0 1rem;
    }
    .navbar__mob {
        padding: 0 5rem;
        position: relative;
    }
    .navbar_mob_close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
    }
    /* .nav__logo__img {
        height: 100%;
        width: 85px;
    } */
}