@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&display=swap');
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex: cover; */
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to bottom right, #000 0%, #071C44 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #000 0%, #071C44 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #000 0%, #071C44 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #000 0%, #071C44 50%) top right / 50% 50% no-repeat;  */
    background-image: url("../../assets/png/earth-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:5rem;
    padding-top: 1rem;
}

.timeline__container__out {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.timeline__heading {
    color: #ffffff;
    font-family: "Bungee";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-bottom: 0rem;
    line-height: 2.6rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.timeline__section {
    margin-top: 3rem;
}
.timeline__element_txt{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(54deg, rgba(127, 127, 127, 0.89) 9.06%, rgba(217, 217, 217, 0) 92.22%);
/* box-shadow: 6px 11px 60px 21px rgba(68, 123, 150, 0.53); */
}

.vertical-timeline-element--work p{
    font-size: 1rem;
    color: #ffff;
    font-family: 'Brygada 1918';
}

.vertical-timeline-element-title{
    font-size: 1.25rem;
    color: #ffff;
    font-family: 'Brygada 1918';
}

.vertical-timeline-element-date{
    color: #ffffff;
    font-size:1.35rem !important;
    font-family: 'Brygada 1918';
    font-style: normal;
    /* text-align:initial; */
}

.vertical-timeline-element-content{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 6px 11px 60px 23px rgba(68, 123, 150, 0.48);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.vertical-timeline-element-content > p{
    font-family: "Brygada 1918";
}

.vertical-timeline-element {
    margin: 2em 0;
}

.vertical-timeline::before{
    background:rgba(155, 155, 155, 0.95);
    box-shadow: 5px 12px 18px 0px rgba(154, 154, 154, 0.85);
}

.vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 18px;
    height: 18px;
    margin-left: -8px;
    box-shadow: none;
    top: 23px;
    background: #D9D9D9;
    box-shadow: 0px 2px 12px #74cae7;
} 

.header__line {
    width: 15rem;
}