@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&family=Work+Sans&display=swap');
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-image: url("../../assets/svg/new_earth_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:5rem;
    padding-top: 1rem;
}

.timeline__container__out {
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    color: #4b4b92;
    font-family: "Coalition", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    z-index: 2;
    background: linear-gradient(103deg, #bdbdbd 40.55%, #a4a3a4 64.89%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.timeline__heading {
    width: 25rem;
    height: 8rem;
    pointer-events: none;
}

.timeline__section {
    margin-top: 3rem;
}
.timeline__element_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    border-radius: 20px;
    background: linear-gradient(54deg, rgba(127, 127, 127, 0.89) 9.06%, rgba(217, 217, 217, 0) 92.22%);
}

.vertical-timeline-element--work p{
    font-size: 1.1rem;
    color: #ffff;
    font-family: 'Work Sans';
}

.vertical-timeline-element-title{
    font-size: 1.25rem;
    color: #ffff;
    font-family: 'Work Sans';
}

.vertical-timeline-element-date{
    color: #ffffff;
    font-size:1.35rem !important;
    font-family: 'Work Sans';
    font-style: normal;
}

.vertical-timeline-element-content{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.vertical-timeline-element-content > p{
    font-family: "Work Sans";
}

.vertical-timeline-element {
    margin: 2em 0;
}

.vertical-timeline::before{
    background:#706A76;
    width: 0.5rem;
    /* box-shadow: 1px 7px 21px 1px rgba(154, 154, 154, 0.85); */
}

.vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: -8px;
    box-shadow: none;
    top: 23px;
    background: #D9D9D9;
} 

.header__line {
    width: 15rem;
}

.vertical-timeline-element-content{
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



@media only screen and (max-width: 1300px) {
    .timeline__heading {
        width: 22rem;
    }

    .timeline__container__out {
        font-size: 4rem;
    }

    .vertical-timeline-element--work p{
        font-size: 1.15rem;
    }
    .timeline__container__out {
        font-size: 4rem;
    }

}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1170px) {
    .vertical-timeline--two-columns .vertical-timeline-element-icon {
        margin-left: 10px;
        top: 17px;
    }
    .vertical-timeline {
        width: 75%;
    }
    .vertical-timeline::before{
        width: 0.3rem;
    }
}

@media only screen and (max-width: 1100px) {
  
}

@media screen and (max-width: 992px) {
    .timeline__heading {
        width: 20rem;
    }

    .vertical-timeline-element--work p {
        font-size: 1.15rem;
    }

    .timeline__container__out {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 800px) {
    .vertical-timeline {
        width: 80%;
    }
    .timeline__heading {
        width: 18rem;
    }
}
@media screen and (max-width: 700px) {
    .vertical-timeline {
        width: 75%;
    }
    .timeline__container__out {
        font-size: 3.6rem;
    }
}

@media screen and (max-width: 600px) {
    .timeline__heading {
        width: 16rem;
    }

    .timeline__container__out {
        font-size: 3rem;
    }
}

@media screen and (max-width: 450px) {
    .timeline__container__out {
        font-size: 2.5rem;
    }
    .vertical-timeline-element--work p{
        font-size: 1rem;
    }
    
    .vertical-timeline-element-title{
        font-size: 1.2rem;
        color: #ffff;
        font-family: 'Work Sans';
    }
    
    .vertical-timeline-element-date{
        color: #ffffff;
        font-size:1.25rem !important;
        font-family: 'Work Sans';
        font-style: normal;
    }
}
@media screen and (max-width: 360px) {
    .timeline__container__out {
        font-size: 2.2rem;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}