
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&display=swap');


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 50px;
}

.footer-left img {
  max-width: 150px; 
}

.social-links {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-link {
  color: #fff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; 
  font-size: 28px;
}

.social-link:active {
    color: orange; 
  }
  


.footer-center {
  text-align: center;
  margin-top: 20px;
}


.footer-right img {
  max-width: 150px; 
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    margin-bottom: 20px;
  }

  .social-links {
    flex-direction: column;
    align-items: center;
  }

  .social-link {
    margin-bottom: 10px;
  }
}


.facebook-icon {
  color: white;
  font-size: 24px; 
  margin-right: 10px; 
}


.twitter-icon {
  color: white; 
  font-size: 24px;
  margin-right: 10px;
}


.instagram-icon {
  color: white; 
  font-size: 24px;
  margin-right: 10px;
}


.linkedin-icon {
  color: white; 
  font-size: 24px;
  margin-right: 10px;
}
