@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&family=Work+Sans&display=swap');
.collaborators__out__container {
    background: url("../../assets/jpg/collab1.jpg") no-repeat center center / cover;
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    opacity: 0.8;
}

.collab-header {
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    color: #fff;
    font-family: "Coalition", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: 2;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.collab__images {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    width: 85%;
}
.c-images{
    width: 10rem;
    height: 10rem;
    pointer-events: none;
}
.collab-section{
    /* width: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
    align-items: center;
    font-family: 'Inter';
}

.collab-section >p {
    font-family: 'Work Sans';
    font-size: 1.2rem;
}

@media only screen and (max-width: 1300px) {
    .collab-header {
        font-size: 4rem;
    }
}
@media (min-device-width: 20px) and (max-device-width: 500px){
   
}
@media only screen and (max-width: 1200px) {
    .c-images{
        width: 9rem;
        height: 9rem;
    }
}

@media only screen and (max-width: 1100px) {

}

@media screen and (max-width: 992px) {
    .collab-header {
        font-size: 3.5rem;
    }
    .c-images{
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 700px) {
    .collab-header {
        font-size: 3.3rem;
    }
    .c-images{
        width: 7rem;
        height: 7rem;
    }
    .collab-section >p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 650px) {
    .collab-header {
        font-size: 3.1rem;
    }
}

@media screen and (max-width: 600px) {
    .collab-header {
        font-size: 2.8rem;
    }
    .c-images{
        width: 6rem;
        height: 6rem;
    }
}

@media screen and (max-width: 550px) {
    .collab-header {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .collab-header {
        font-size: 2rem;
    }
}
@media screen and (max-width: 400px) {
    .collab-header {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 360px) {
    .collab-header {
        font-size: 1.5rem;
    }
    .c-images{
        width: 5.5rem;
        height: 5.5rem;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}