@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #000 0%, #091C3F 100%); 
  /* background: linear-gradient(to bottom right, #000 0%, #071C44 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #000 0%, #071C44 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #000 0%, #071C44 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #000 0%, #071C44 50%) top right / 50% 50% no-repeat; */
  color: #ffffff;
  /* background: radial-gradient(200.65% 776.86% at -9.28% 116.91%,#140915 35.44%,var(--themeColour) 100%); */
  
}

body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  background: #081823;
}

body::-webkit-scrollbar-thumb {
  background-color: #3f7cbf;
  border-radius: 10px;
}
/* #ad5389 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 :root {
  /* --themeColour: #2cb7c7; */
  /* --themeColour: radial-gradient(
    200.65% 776.86% at -9.28% 116.91%,
    #904e95 15.44%,
    #3c1053 100%
  ); */
  /* --themeColour: #AA076B;
  --primary-font:"Karla", sans-serif; */
 }