@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Bungee&family=Montserrat:wght@700&family=Work+Sans&display=swap');

.panelist__out__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-image: url("../../assets/jpg/panelist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 10rem;
    padding-top: 1rem;
    opacity: 0.8;
}

.panelist__container {
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    color: #fff;
    font-family: "Coalition", sans-serif;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    z-index: 2;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
}

.panelist__heading {
  width: 25rem;
  height: 8rem;
  pointer-events: none;
}

.slide img{
  width:20rem;
  margin: 0 auto;
}

.slide{
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide{
  transform: scale(1.1);
  opacity: 1;
}

.arrow{
  width:2rem;
  height:2rem;
  text-align: center;
  background-color: #191617;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  border-radius: 5px;
}

.arrow svg{
  transition: color 300ms;
}
    

.panelist__caroussel {
      width: 90%;
      display: flex;
      flex-direction: row;
      height: 100%;
      padding-top: 3rem;
      align-items: center;
}
.slider__img{
  pointer-events: none;
  border-radius: 20px !important;
  width: 30rem;
  height:20rem;
}
  
.panelist__caroussel__img {
      width: 50%;
      height: 25rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
  }
  
.panelist__caroussel__btn {
      width: 3.5rem;
      height: 3.5rem;
      font-size:1.2rem;
      text-align: center;
      border-radius: 13px;
      color: #d44c3b;
      font-size: 1.4rem;
      background-color:#191617 ;
      box-shadow: -3px 1px 12px #ffffff;
      cursor: pointer;
  }

  .panelist__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;

  }
  
  .panelist__image-description {
    font-family: 'Work Sans';
    color: #fff;
  }

  @media only screen and (max-width: 1300px) {
    .panelist__heading {
      width: 22rem;
    }
    .panelist__container {
        font-size: 4rem;
    }
  }
  @media (min-device-width: 20px) and (max-device-width: 500px){
   
  }
  @media only screen and (max-width: 1200px) {
    
    .slider__img {
      width:25rem;
      height: 20rem;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .panelist__heading {
      font-size: 2.8rem;
  }
    .panelist__caroussel__btn {
      width: 3rem;
      height: 3rem;
      font-size: 1rem;
      border-radius: 11px;
  }

  .panelist__caroussel__img {
    width: 50%;
    height: 20rem;
}

.slider__img {
  width:30rem;
  height: 20rem;
  padding-top: 3rem;
}
  }
  
  @media screen and (max-width: 992px) {

    .panelist__heading {
      width: 20rem;
    }

    .slider__img {
      width:30rem;
      height: 20rem;
    }

    .panelist__container {
      font-size: 3.8rem;
  }
  }
  
  @media screen and (max-width: 800px) {
   .panelist__heading {
      width: 18rem;
    }
    
  }
  
  @media screen and (max-width: 700px) {
    .panelist__heading {
      font-size: 2.6rem;
  }
  .slider__img{
    width: 25rem;
    height:20rem;
    padding-top: 6rem;
  }
  .panelist__container {
    font-size: 3.6rem;
}
  }
  
  @media screen and (max-width: 600px) {
    .panelist__heading {
      width: 16rem;
    }

    .panelist__container {
      padding-bottom: 0rem;
    }
    
  .slider__img{
    width: 23rem;
    height:18rem;
    padding-top: 7rem;
  }
  .panelist__container {
    font-size: 3rem;
}
  }

  @media screen and (max-width: 550px) {
    .slider__img{
      width: 21.5rem;
      height:18rem;
      padding-top: 9rem;
    }
  }
  
  @media screen and (max-width:525px) {
    .slider__img{
      width: 17rem;
      height: 12rem;
      padding-top: 9rem;
    }
  }
  @media screen and (max-width: 450px) {
    .slider__img{
      width: 17rem;
      height:12rem;
    }
    .panelist__caroussel__btn{
      display: none;
    }
    .panelist__container {
      font-size: 2.5rem;
  }

  }
  @media screen and (max-width:360px) {
    .slider__img{
      width: 15rem;
      height:10rem;
      padding-top: 10rem;
    }

    .panelist__caroussel__btn{
      display: none;
    }
    .panelist__container {
      font-size: 2.2rem;
  }
  }
  @media screen and (max-width:435px) {
 
  }
    
  @media only screen and (min-device-width: 320px) and (max-device-width: 
    480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  
  }
    
  @media only screen and (device-width: 768px) {
  
  }