@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.panelist__out__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    width: 100%;
    background-image: url("../../assets/png/panelist_bg.png");
    /* background: linear-gradient(142deg, rgba(16, 27, 44, 0.50) 7.55%, rgba(55, 55, 64, 0.50) 83.28%); */
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    /* background-size: contain;
    background-repeat: no-repeat; */
    padding-bottom:3rem;
    padding-top: 1rem;
    /* flex: cover; */
}

.panelist__container {
    width: 80%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.panelist__heading {
  width: 25rem;
  height: 8rem;
}

  .slide img{
    width:20rem;
    margin: 0 auto;

    }
    
    .slide{
      transform: scale(0.7);
      transition: transform 300ms;
      opacity: 0.5;
    }
    
    .activeSlide{
      transform: scale(1.1);
      opacity: 1;
    }
    
    .arrow{
      width:2rem;
      height:2rem;
      text-align: center;
      background-color: #191617;
      position: absolute;
      cursor: pointer;
      z-index: 10;
      border-radius: 5px;
    }
    
    .arrow svg{
      transition: color 300ms;
    }
    
    /* .arrow svg:hover {
      color: #68edff;
    }
     */

.panelist__caroussel {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
  
.panelist__caroussel__img {
      width: 50%;
      height: 25rem;
      margin: 0 auto;
      display: flex;
  }
  
.panelist__caroussel__btn {
      /* Add your button-specific styles here */
      /* font-size: 24px;
      height: max-content;
      padding: 10px 20px; */
      width: 3.5rem;
      height: 3.5rem;
      font-size:1.2rem;
      text-align: center;
      border-radius: 13px;
      color: #d44c3b;
      font-size: 1.4rem;
      background-color:#191617 ;
      box-shadow: -3px 1px 12px #ffffff;
      cursor: pointer;
      margin: 0 9rem;
      /* Adjust the padding as needed */
  }

 
  @media (min-device-width: 20px) and (max-device-width: 500px){
   
  }
  @media only screen and (max-width: 1200px) {
    .panelist__heading {
      font-size: 3rem;
    }
    .panelist__caroussel__btn {
      width: 3.3rem;
      height: 3rem;
      font-size: 1.2rem;
  }
  }
  
  @media only screen and (max-width: 1100px) {
    .panelist__heading {
      font-size: 2.8rem;
  }
    /* .panelist__caroussel {
      width: 90%;
    } */
    .panelist__caroussel__btn {
      width: 3rem;
      height: 2.5rem;
      font-size: 1rem;
      border-radius: 11px;
  }
  .panelist__caroussel__img {
    width: 40%;
    height: 20rem;
}
  }
  
  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 800px) {

  }
  
  @media screen and (max-width: 700px) {
    .panelist__heading {
      font-size: 2.6rem;
  }
  }
  
  @media screen and (max-width: 600px) {
    .panelist__heading {
      font-size: 2.4rem;
  }
  }
  
  @media screen and (max-width: 400px) {
  
  }
    
  @media only screen and (min-device-width: 320px) and (max-device-width: 
    480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  
  }
  
  
  @media only screen and (device-width: 768px) {
  
  }