@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.panelist__out__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    width: 100vw;
    background:linear-gradient(174deg, #090909 20.08%, #071C44 95.51%);
    /* background-size: contain;
    background-repeat: no-repeat; */
    padding-bottom:3rem;
    padding-top: 1rem;
    /* flex: cover; */
}

.panelist__container {
    width: 80%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.panelist__heading {
    color: #ffffff;
    font-family: "Bungee";
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-bottom: 0rem;
    line-height: 2.6rem;
}

  .slide img{
    width:20rem;
    margin: 0 auto;

    }
    
    .slide{
      transform: scale(0.7);
      transition: transform 300ms;
      opacity: 0.5;
    }
    
    .activeSlide{
      transform: scale(1.1);
      opacity: 1;
    }
    
    .arrow{
      width:2rem;
      height:2rem;
      text-align: center;
      background-color: #191617;
      position: absolute;
      cursor: pointer;
      z-index: 10;
      border-radius: 5px;
    }
    
    .arrow svg{
      transition: color 300ms;
    }
    
    /* .arrow svg:hover {
      color: #68edff;
    }
     */

.panelist__caroussel {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
  
.panelist__caroussel__img {
      width: 50%;
      height: 25rem;
      margin: 0 auto;
      /* background-color: red; */
      display: flex;
  }
  
.panelist__caroussel__btn {
      /* Add your button-specific styles here */
      /* font-size: 24px;
      height: max-content;
      padding: 10px 20px; */
      width: 3.5rem;
      height: 3.5rem;
      font-size:1.2rem;
      text-align: center;
      border-radius: 13px;
      color: #1A94CC;
      font-size: 1.4rem;
      background-color:#191617 ;
      box-shadow: 0px 2px 12px #74cae7;
      cursor: pointer;
      margin: 0 9rem;
      /* Adjust the padding as needed */
  }

 
  @media (min-device-width: 20px) and (max-device-width: 500px){
   
  }
  @media only screen and (max-width: 1200px) {
    .panelist__heading {
      font-size: 3rem;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .panelist__heading {
      font-size: 2.8rem;
  }
  }
  
  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 800px) {

  }
  
  @media screen and (max-width: 700px) {
    .panelist__heading {
      font-size: 2.6rem;
  }
  }
  
  @media screen and (max-width: 600px) {
    .panelist__heading {
      font-size: 2.4rem;
  }
  }
  
  @media screen and (max-width: 400px) {
  
  }
    
  @media only screen and (min-device-width: 320px) and (max-device-width: 
    480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  
  }
  
  
  @media only screen and (device-width: 768px) {
  
  }